@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background: hsl(218, 28%, 13%);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    /* overflow: scroll; */

}
html{
    scroll-behavior: smooth;
}

/* utilities */
.line-flex{
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 1rem;
}
.line{
    position: relative;
}
.line-flex h1{
    color: #fff;
}
span{
    color:orange;
}
#testmonials .line::before
{
    width: 160px;
}
#testmonials .line-flex{
    margin-bottom: 3rem;
}
#Features  .line::before
{
    /* margin-bottom: 3rem; */
    width: 160px;
}
.line::before{
    content: '';
    position: absolute;
    width: 94px;
    background: orange;
    height: 3px;
    display: inline;
    bottom: 1px;
    left: 0;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    width: 90%;
}
.btn{
    background: rgb(3, 167, 255);
    padding: 0.5rem 4.3rem;
    border-radius: 27.2px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    transition: all 0.4s ;
}
.btn:hover{
    transform: translatex(-10rem);
}



/* header */
#header .row{
    align-items: center;
    padding: 1.8rem 0;

    
}
.row{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 120px;
}
.logo img{
    width: 100%;
}
.nav-bar{
    display: flex;
    gap: 20px;
}
.nav-bar li a{
    color: rgb(160, 156, 157);
    font-weight: 500;
    transition: all 0.4s;
}
.nav-bar li a:hover{
    color: #fff;
}
/* ===== */
/* maim */
#main{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: auto;
    text-align: center;
    width: 90%;
}
.image-div{
    margin-bottom: 1.7rem;
}
#main img{
    max-width: 100%;
    display: block;
}
.Text-main h1{
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.Text-main p{
    color: rgb(208, 201, 201);
    font-size: 1.1rem;
    margin-bottom: 1.6rem;
    font-size: 100;
}

/* hero cards*/
#hero {
    padding-top: 100px;
}
/* #hero .container{
    margin: 0 auto;
    width: 90%;
} */
.line-flex{
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 1rem;
}
.line{
    position: relative;
}
.line-flex h1{
    color: #fff;
}
span{
    color:orange;
}
.line::before{
    content: '';
    position: absolute;
    width: 94px;
    background: orange;
    height: 3px;
    display: inline;
    bottom: 1px;
    left: 0;
}
/* h1.container{
    font-size: 2rem;
    color: #fff;
    position: relative;
    bottom: 10px;
}
h1.container::before{
    content: '';
    position: absolute;
    width: 133px;
    height: 2px;
    top: 8px;
    background: orange;
} */

.title-typo{
    font-size: 1.1rem;
    color: #fff;
    margin: 1rem 0;
}
.subtitle{
    color: rgb(196, 191, 191);
}
#hero .grid-flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem 2rem;

}
.icon img{
    width: 100%;
}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /*
     margin: 1.3em auto; */
}
.boxes:hover{
    background-color: hsl(218, 68%, 11%);
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}
/* featurees */
#Features{
    padding-top: 100px;

}
.container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.col-1{
    flex: 1.5;
}
.col{
    flex: 1;
}
.col-1 img{
    max-width: 100%;
    height: 100%;
    display: block;
}

.col .title-Features{
    /* font-size: 2rem; */
    color: #fff;
}
.col .subtitle-Features{
    color: rgb(196, 191, 191);
    font-weight: 300;
    margin: 1.1rem 0;
}
p.special{
    position: relative;
}
p.special::after{
    content: '';
    position: absolute;
    width: 160px;
    height: 2px;
    background: #fff;
    left: 0;
    bottom: -3px;
}
.special svg{
    width: 20px;
    color: #ffff;
}
a.btn-2{
    color:  hsl(176, 68%, 64%);
}
a.btn-2:hover{
    color: #fff;
}
#testmonials{
    padding-top: 100px;
    /* min-height: 100vh; */
}



#testmonials .grid-flex{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}
.items{
    background: hsl(216, 53%, 9%);
    border-radius: 10px;
    padding: 2rem 1rem;
    position: relative;
}
.overlay{
    position: absolute;
    top: -40px;
    left: -4px;
    z-index: -1;
}
/* .item1::before{
    content: '';
    position: absolute;
    background-image: url('/images/bg-quotes.png');
    background-repeat: no-repeat;
    z-index: 1;
    top: 10px; */
/* } */

.subtitle-2{
    /* padding-bottom: 1rem; */
    color: #f3fff3;
}
.subtitle-1{
    color: #bbbbbb;
    font-weight: 500;
}
.items h4{
    color: #bbbbbb;
}
.suh-header{
    display: flex;
    align-items: center;
    margin-top: 1.7rem;
}
.suh-header img{
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
}


/* sogn */
#sign{
    padding-top: 70px;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    top: 40px;

}
.Sub-container{
    background: hsl(216, 53%, 9%);
    border-radius: 10px;
    padding: 2rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    

}
.bottom{
    margin: 0.7rem 0;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.Ctn-1{
    padding: 1.2rem 2rem !important;
    width: 30vw;
}
.Ctn{
    display: inline-block;
    padding: 1rem 2rem;
    background:  rgb(104, 110, 110);
    background: #fff;
    color: #000 !important;
    border: none;
    outline: none;
    border-radius: 30px;
}
.Ctn-2{
    background: cyan;
    color: #000;
}
::placeholder{
    text-align: center;
    /* font-size: 1.2rem; */
}


::selection{
    background: #ecb95a;
    color: #000;
}


#footer{
    padding: 100px 0;
    /* min-height: 100vh; */
}
#footer .fa-solid{
    color: #fff;
    font-size: 1.5rem;
}
.footer-1{
    display: flex;  
    margin-bottom: 1rem;
}
.sub-footer-heading p{
    padding-left: 1rem;
    color: #fff;
}
.sub-footer-heading{
    margin-bottom: 2rem;
}
.icon-footer{
    display: flex;
    margin-bottom: 1rem;
}

.icon-footer p{
    padding-left: 1rem;
}

.footer-3 li,
.footer-4 li{
    padding-bottom: 0.7rem;
 
   
}
.footer-3 li a,
.footer-4 li a{
    color: #fff;
}
.footer-5 ul{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.footer-5 ul li{
    /* margin-bottom: 2rem;  */
}
.footer-5 a{
    border: 1px solid #f4f3f5;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}
.footer-5 a:hover{
    background: orange;
    border: none;
    transition: all 0.4s;
}

.grid-cont{
    margin-top: 1rem;
}


.container .grid-cont{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
 
}
.sub-footer-heading{
    margin: 0.5rem 0.9rem;
}

.footer-3{
    /* width: 150px; */
}





@media(max-width: 1060px){
    /* hero | */
    #hero .grid-flex{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }
}
@media(max-width: 668px){
    /* features & our teaam sections */
    .container-flex{
        flex-direction: column;
    }
    #testmonials .grid-flex{
        grid-template-columns: 1fr;
    }
}
@media(max-width: 530px){
    /* hero mobile size les than 500 */
    #hero .grid-flex{
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 2rem;
    
    }
    .Ctn{
        width: 100%;
     }
}

@media(min-width: 500px){
    /*  */
    .Text-main h1{
        color: #fff;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .Text-main p{
        color: #fff;
        font-size: 1.2rem;
        margin-bottom: 1.6rem;
        
    }
    
  
}
@media(max-width: 380px){
   #header .row{
   flex-direction: column;
   }
   .Ctn-2{
    padding: 0.9rem 0.4rem !important;
    font-size: 1rem;
   }
   .Sub-container{
    padding: 1rem;
   }

   
}

